body{   
  color: #555;
  background-color: #995BED;
}

.sidebar-wrapper{
  width: 300px;
  margin: 30px auto;
}

.sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 500px;
  background-color: #FFF;
  border-radius: 2px;
}

/*Logo placeholder*/
.sidebar__logo h3{
  text-transform: uppercase;
  color: #CCC;
  text-align: center;
}

/*Sidebar Navigation*/
.sidebar__nav{
  flex-grow: 1;
  list-style: none;
  padding: 0;
}
.sidebar__nav li{
  padding: 15px;
  cursor: pointer;
}
.sidebar__nav li.active, .sidebar__nav li:hover{
  background-color: #F7F2FF;
  color: #995BED;
}

.sidebar__nav li i{
  width: 25px;
  display: inline-block;
  text-align: center;
}

/*Sideabr profile*/
.sidebar__profile{
  text-align: center;
  margin-top: 20px;
}
.sidebar__profile img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.sidebar__profile h4{
  margin-top: 0;
}