.container {
    display: flex;
    flex-direction: column;

}

.top {
    width: 100%;
    height: auto;
    background:rgb(138, 43, 226);
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center {
    width: 100%;
    height: auto;
    background: rgb(158, 6, 6);   
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    width: 100%;
    height: auto;
    background: rgb(64, 224, 208);  
    border: 3px white solid; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span { 
    background-color: rgba(255, 255, 255, .5); 
    border-radius: 50%; 
    display: block; 
    font-size: 48px; 
    height: auto; 
    line-height: 3em; 
    text-align: center; 
    width: 3em; 
}