body { margin: 0; 
    padding: 0; 
    border: 0; }
    
span { 
    background-color: rgba(255, 255, 255, .5); 
    border-radius: 50%; 
    display: block; 
    font-size: 48px; 
    height: auto; 
    line-height: 3em; 
    text-align: center; 
    width: 3em; 
}    

div:nth-of-type(5n+1) {background-color: rgb(127, 255, 212);}
div:nth-of-type(5n+2) {background-color: rgb(30, 144, 255);}
div:nth-of-type(5n+3) {background-color: rgb(144, 48, 173);}
div:nth-of-type(5n+4) {background-color: rgb(255, 150, 30);}
div:nth-of-type(5n) {background-color: rgb(158, 6,6); flex-basis: 100%;}

.container {
    display: flex;
    flex-flow: wrap row;
}
div {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 16px);
    align-items: center;
    justify-content: center;
    border: 8px white solid;
    min-height: 60px; 
}