.main {
    display: grid;
    border: 13px solid white;
    border-radius: 5px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }

.main > div {
  border: 4px solid white;
  border-radius: 10px;
  background-color: DarkSlateGrey;
  padding: 1em;
  color: white;
  font-size: 20px;
  font-weight: bold;
  }

  .a {
    
    grid-column: span 2;
  }

  .b {
    grid-column: span 2;
  }

  .d {
    grid-column: span 3;
  }

  .e {
    grid-column: span 4;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
      display: grid;
      border: 13px solid white;
      border-radius: 5px;
      grid-template-rows: 150px 150px;
      grid-template-columns: 1fr 1fr 1fr;
      
    }
  
  .main > div {
    border: 4px solid white;
    border-radius: 10px;
    background-color: DarkSlateGrey;
    padding: 1em;
    color: white;
    font-size: 20px;
    font-weight: bold;
    }
  
    .a {
      
      grid-column: span 2;
    }
  
    .b {
      grid-row: span 2;
    }

    .d {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .e {
     visibility: hidden;
    }
}  