.wrapper {
    display: grid;
    border: 4px solid #f76707;
    grid-template-columns: 200px 200px 200px 200px; 
    grid-template-rows: 150px 150px;
    /*grid-template-columns: 14% 36.4% 1fr; - delenoe mozno delat ochen tochnim*/
  }

.wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      display: grid;
      display: flex;
      flex-wrap: wrap;
      border: 7px solid blue;
      grid-template-columns: 200px 200px 200px 200px; 
      grid-template-rows: 150px 150px;
    }
  
  .wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
    }
  }