body {border: 0px; margin: 0px; padding: 0px;}

.container {
    display: flex;  
    flex-direction: column;
    font-weight: bold;
    text-align: center;

}

.header {
    background-color: #FA8072;
    height: 60px;
    vertical-align: bottom;
}

.nav {
    display: flex;
    background-color: #4682B4;
    color: white;
    width: 25%;
    height: auto;  
    line-height: 70px; 
    flex-direction: column;
}

.nav a {
    color: white;
    font-size: 25pt;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none; 
    transition: unset;
    border-bottom: 2px lightgray solid;
}

.content {
    background-color: #00CED1;
    text-align: justify;
    vertical-align: bottom;
    width: 60%;
    padding: 20px 10px;
}

.aside {
    background-color: #FF1493;
    width: 15%;
    padding: 10px;
}

.footer {
    background-color:#00FF7F;
    height: 60px;
    vertical-align: middle;

    /*Ne rabotaet vertikalnoe viravnivanie*/
}

#main {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
}