.container {
    display: flex;  
    flex-direction: column;
    font-weight: bold;
    text-align: center;

}

.header {
    background-color: #FA8072;
    height: 60px;
    vertical-align: bottom;
}

.wrapper {
    background-color: #FFFF00;
    width: 15%;
    padding: 10px;
}

.content {
    background-color: #00CED1;
    text-align: justify;
    vertical-align: bottom;
    width: 70%;
    padding: 20px 10px;
}

.navigation {
    background-color: #FF1493;
    width: 15%;
    padding: 10px;
}

.footer {
    background-color:#00FF7F;
    height: 60px;
    vertical-align: middle;

    /*Ne rabotaet vertikalnoe viravnivanie*/
}

#main {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
}